@import 'constants/colors';

.MoviesCollection {
  width: 100%;

  .Movie-tr:nth-child(odd) .Movie-td {
    background-color: $color-background;
  }

  .Movie-td {
    padding: 2%;

    &:first-child {
      width: 50%;
    }
  }
}
