@import 'constants/breaks';
@import 'mixins/break';

.Page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: $break-desktop;
  min-height: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.Page-body {
  flex: 1;
}

@include break() {
  .Page {
    padding: 2rem;
  }
}

.Page-header {
  text-align: center;

  .Page-header-title {
    display: inline-block;
    background: url(/assets/favicon.png) center left/40px no-repeat;
    padding-left: 50px;
    font-family: 'Walter';
  }
}